<h1><%= @resource.title %></h1>
<p><%= @resource.description %></p>
<p><img src="<%= @resource.image_url %>" width="200px" />

<br/>
<br/>

<b>Mijn verhaal</b>
<p><%= @resource.story.content %></p>

<p>
<b>Mijn geschiedenis</b>
<% @resource.events.each do |event| %>
  <li><%= event.created_at %>: <%= event.description %> @ <%= event.location %></li>
<% end %>
</p>

<b>Ben jij mijn nieuwe eigenaar?</b>
<p>
Draag bij aan mijn verhaal, en stuur het bericht '/swap <%=@resource.tracking_id %>' naar onze <a href="https://t.me/tacostest_bot">@swapbot</a> op telegram!</p>
