<div class="main-header">
  <div class="logo">
    <img src="https://cdn.webshopapp.com/shops/314295/themes/176273/assets/logo.png?20210927022046" alt="The Swapshop"/>
  </div>
</div>

<div class="narrative">
  <div class="call_to_action">
    <b>Are you the owner of this garment?</b>
    <!-- Praat met de <a href="https://t.me/tacostest_bot?start=<%=@resource.tracking_id %>">@swapbot</a-->
    Please have a chat with our <a href="tg://resolve?domain=<%= ENV['TELEGRAM_BOT_DOMAIN'] %>&start=<%=@resource.tracking_id %>">@swapbot</a>
  </div>

  <h1><%= @resource.title %></h1>
  <p><%= @resource.description %></p>
  
  <div class= "main-image">
  <img src="<%= @resource.image_url %>" width="200px" />
  </div>
  <br/>
  <div class="story">
    <b>The story so far</b>
    <p><span class="content"><%= @resource.story.content %></span></p>
  </div>
  <br/> 
  <div class="story">
    <b>Timeline</b>
    <ul>
      <% @resource.events.each do |event| %>
        <li><%= event.created_at.strftime("%d %B, %Y") %>: <%= event.description %></li>
      <% end %>
    </ul>
    </p>

  </div>
</div>
