<h1><%= @resource.title %></h1>
<p><%= @resource.description %></p>
<p><img src="<%= @resource.image_url %>" width="200px" />
<p><%= @resource.story.content %></p>

<p>

events
<% @resource.events.each do |event| %>
  <li><%= event.created_at %>: <%= event.description %> @ <%= event.location %></li>
<% end %>
</p>
